{% extends "base.html" %}

{% load article_tags %}

{% block title %}
    话题列表
{% endblock title %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
    	<h1>你有问题，我有答案，我们携手前行  <a type="button" class="btn btn-success btn-lg" href="{% url 'article:article_titles' %}">查看全部问题</a></h1>
        <p>这里有{% total_articles %}个问题供你参考</p>
    </div>
    <div class="container">
    	{% for article in articles %}
    		<div class="list-group">
    			<h4 class="list-group-item-heading"><a href="{{article.get_url_path}}" class="list-group-item active">{{article.title}}</a></h4>
                            <p class="list-group-item-text">
                            <table>
                                <tr>
                                    {% for tag in article.article_tag.all %}
                                       <td><span class="label label-default" style="margin-right: 10px">{{ tag.tag }}</span></td>
                                    {% endfor %}
                                </tr>
                            </table>
                            </p>
    				<p class="list-group-item-text">问题所有者：<a type="button" class="btn btn-danger btn-xs" href="{% url 'article:author_articles' article.author.username%}"  data-toggle="tooltip" data-placement="right" title="只看此作者的问题">{{article.author.username}}</a>
                    <a type="button" class="btn btn-primary btn-xs" style="margin-left: 10px"><span class="glyphicon glyphicon-plus">关注</span></a></p>
    				<p class="list-group-item-text">问题所属栏目：</p><button type="button" class="btn btn-info btn-xs">{{article.column}}</button>
    				<!-- <p class="list-group-item-text">问题概要：{{article.body|truncatechars:100|linebreaks}}</p> -->
    		</div>
    	{% endfor %}
    	{% include 'paginator.html' %}
    </div>
{% endblock content %}