{% extends "base.html" %}

{% load article_tags %}

{% load staticfiles %}

{% block title %}
	{{article.title}}
{% endblock title %}

{% block content %}
	{% with total_likes=article.users_like.count users_like=article.users_like.all %}
	<link rel="stylesheet" type="text/css" href="{% static 'editor/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'editor/css/editormd.css' %}">
	<div class="container">
		<div class="col-md-9">
			<div>
				<header>
					<h1>{{ article.title }}</h1>
					<p>
						<a id="focus_id" type="button" class="btn btn-success btn-big" onclick="like_article({{article.id}},'like')" href="#" data-toggle="tooltip" data-placement="up" title="喜欢这个问题就点个赞">点赞</a>
						<a type="button" class="btn btn-warning btn-big" onclick="like_article({{article.id}},'unlike')" href="#" data-toggle="tooltip" data-placement="up" title="不喜欢这个问题就点我">我不喜欢</a>
						<a type="button" class="btn btn-info btn-big"> {{ total_likes }} 人点赞</a>
						<a type="button" class="btn btn-info btn-big"> {{ total_views }} 人浏览</a>
						<table>
							<tr>
								<th>谁点的赞？</th>
							</tr>
							<tr>
								{% for user in article.users_like.all %}
									<td class="text-left" colspan="10px"><span class="label label-default">{{ user.username }}</span></td>
									{% empty %}
									<td colspan="10px"><span class="label label-default">还没有人对此问题点赞</span></td>
								{% endfor %}
								
							</tr>
						</table>
					</p>
					<p>问题所有者：<a type="button" class="btn btn-danger btn-xs" href="{% url 'article:author_articles' article.author.username%}"  data-toggle="tooltip" data-placement="right" title="看此作者的所有问题">{{ article.author.username }}</a></p>
					问题所属标签：<a type="button" class="btn btn-info btn-xs">{{ article.column }}</a>
					你的IP地址：<a type="button" class="btn btn-info btn-xs">{{ new_user_ip }}</a>
				</header>
				<link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
				<div id="editormd-view">
					<textarea id="append-test" style="display:none;">{{ article.body }}</textarea>
				</div>
				<a type="button" class="btn btn-primary btn-block" href="{% url 'article:article_titles' %}">返回问题首页</a>
			</div>
			<!-- 评论功能 -->
			<hr>
			<div>
				<h3><span class="glyphicon glyphicon-bullhorn"></span> 本问题有{{ article.comments.count }}条答案</h3>
				{% for answer in answers.all %}
						<hr>
						<div>
							<p><strong>{{ answer.commentator }}</strong>说：</p>
							<!-- <p style="margin-left: 40px;">{{ comment.body }}</p> -->
							<link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
							<div id="editormd-view{{forloop.counter}}">
								<textarea id="append-test" style="display:none;">{{ answer.body }}</textarea>
							</div>

						</div>
				{% empty %}
					<p>暂时还没有人回答此问题</p>
				{% endfor %}
				{% include 'paginator.html' %}
				<h3><span class="glyphicon glyphicon-send"></span>回答问题</h3>
				<form action="." method="post" class="form-horizontal">{% csrf_token %}
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 contorl-label">回答者</label>
						<div class="col-sm-10">
							{{ user.username }}
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 contorl-label">问题答案</label>
						<div class="col-sm-10">
							<!-- {{ comment_form.body }} -->
							<div id="answer_editormd" class="col-xs-md-10 text-left">
								<textarea style="display: none;" id="id_answer_body"></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<p><input type="button" name="" value="发表问题答案" class="btn btn-primary" onclick="publish_answer()"></p>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-3">
			<p class="text-center"><h3>最受关注的问题</h3></p>
			<ol class="text-left">
				{% for article_rank in most_viewed %}
					<li>
						<a href="{{ article_rank.get_url_path }}">{{ article_rank.title }}</a>
					</li>
				{% endfor %}
			</ol>
			<hr>
			<p class="text-center"><h3>最新的问题</h3></p>
				{% latest_articles %}
			<hr>
			<p class="text-center"><h3>最多评论的问题</h3></p>
			{% most_commented_articles as most_comments %}
			<ol>
				{% for comment_article in most_comments %}

					<li>
						<a href="{{comment_article.get_url_path}}">{{comment_article.title}}</a>
					</li>
					
				{% endfor %}
			</ol>
		</div>
	</div>
	<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/marked.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/prettify.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/raphael.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/underscore.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/flowchart.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
	<script type="text/javascript" src='{% static "editor/editormd.js" %}'></script>
	<script type="text/javascript" src='{% static "js/layer.js" %}'></script>
	<script type="text/javascript">
		//显示问题主要内容
		$(function(){
			editormd.markdownToHTML("editormd-view",{
				htmlDecode : "style,script,iframe",
				emoji : true,
				taskList : true,
				tex : true,
				flowChart :true,
				sequenceDiagram : true,
			});
		});

		//显示答案动作函数
		$(function(){
			var num = {{ comment_num_list }};
			for (var i=1;i<=num.length;i++)
			{
				var editor_name = "editormd-view"+i;
				// alert(editor_name)
				editormd.markdownToHTML(editor_name,{
					htmlDecode : "style,script,iframe",
					emoji : true,
					taskList : true,
					tex : true,
					flowChart :true,
					sequenceDiagram : true,
					onfocus : false,
				});
			}
		});

		//点赞动作函数
		function like_article(id,action){
			$.ajax({
				url:"{% url 'article:like_article' %}",
				type:"POST",
				data:{"id":id, "action":action},
				success: function(e){
					if(e=="1"){
						layer.msg("感谢点赞");
						setTimeout("location.reload();",1000);
					}else{
						layer.msg("我会继续努力的^_^");
						setTimeout("location.reload();",1000);
					}
				},
			});
		}

		//发布问题答案的动作函数
		function publish_answer(){
			//var title = $("#id_title").val();
			//var column_id = $("#which_column").val();
			var body = $("#id_answer_body").val();
			$.ajax({
				url:"{% url 'article:list_article_detail' article.id article.slug %}",
				type:"POST",
				data:{"body":body},
				success:function(e){
					if(e=="1"){
						layer.msg("成功发布话题");
						location.href = "{% url 'article:list_article_detail' article.id article.slug %}";
					}else if(e=="2"){
						layer.msg("对不起，话题发布失败！");
					}else{
						layer.msg("话题名称必须写,不能空！")
					}
				}
			});
		}

		//简单的 Markdown 编辑器
		$(function(){
			var editor = editormd("answer_editormd", {
				// width  : "100%",
				// height : 640,
				// emoji:true,
				// imageUpload : true,
				// imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
				// imageUploadURL : "{% static 'editor_up_load/images' %}",
				// syncScrolling:"single",
				// path :"{% static 'editor/lib/' %}"
				width   : "100%",
				height  : 400,
				//syncScrolling : "single",
				path    : "{% static 'editor/lib/' %}",
				saveHTMLToTextarea : true,
				emoji: true,//emoji表情，默认关闭
				taskList: true,
				tocm: true, // Using [TOCM]
				tex: true,// 开启科学公式TeX语言支持，默认关闭
				flowChart: true,//开启流程图支持，默认关闭
				sequenceDiagram: true,//开启时序/序列图支持，默认关闭,
				dialogLockScreen : false,//设置弹出层对话框不锁屏，全局通用，默认为true
				dialogShowMask : false,//设置弹出层对话框显示透明遮罩层，全局通用，默认为true
				dialogDraggable : false,//设置弹出层对话框不可拖动，全局通用，默认为true
				dialogMaskOpacity : 0.4, //设置透明遮罩层的透明度，全局通用，默认值为0.1
				dialogMaskBgColor : "#000",//设置透明遮罩层的背景颜色，全局通用，默认为#fff
				codeFold: true,
				imageUpload : true,
				imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
				imageUploadURL : "{% url 'article:editor_image_upload' %}",
				/*上传图片成功后可以做一些自己的处理*/
				onload: function () {
					console.log('onload', this);
				//     //this.fullscreen();
				//     //this.unwatch();
				//     //this.watch().fullscreen();
				//     //this.width("100%");
				//     //this.height(480);
				//     //this.resize("100%", 640);
				},
				/**设置主题颜色*/
				editorTheme: "pastel-on-dark",
				theme: "-midnight",
				previewTheme: "midnight",
				atLink: false
			});
		});
	</script>
{% endwith %}
{% endblock content %}