{% extends "base.html" %}

{% block title %}
    话题列表
{% endblock title %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
    	<h1>你有问题，我有答案，我们携手前行！</h1>
    </div>
    <div class="container">
    	{% for article in articles %}
    		<div class="list-group">
    			<a href="{{article.get_url_path}}" class="list-group-item active">
    				<h4 class="list-group-item-heading">{{article.title}}</h4>
    				<p class="list-group-item-text">问题所有者：{{article.author.username}}</p>
    				<p class="list-group-item-text">问题所属标签：{{article.column}}</p>
    				<p class="list-group-item-text">问题概要：{{article.body|truncatechars:100|linebreaks}}</p>
    			</a>
    		</div>
    	{% endfor %}
    	{% include 'paginator.html' %}
    </div>
{% endblock content %}