{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    个人中心
{% endblock title %}

{% block content %}
    <!-- 调用相册展示插件的css文件 -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/enp_album/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/enp_album/default.css' %}"> -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/enp_album/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/enp_album/jgallery.min.css' %}" />
    <!-- 调用相册展示插件的css文件 结束-->

    <div class="row text-center vertical-middle-sm">
    	<h1>{{userprofile.company_or_person}}信息中心</h1>
    	<div class="row">
    		<div class="col-md-6">
    			<div class="row">
    				<div class="col-md-4 text-right"><span>用户名：</span></div>
    				<div class="col-md-8 text-left">{{user_obj.username}}
                        {% with total_followers=user_obj.followers.count %}
                        <span class="label label-default" style="margin-left: 20px">
                            <span>{{ total_followers }}</span>
                            follower{{ total_followers|pluralize }}
                        </span>
                        <a id="follow" type="button" class="btn btn-primary btn-xs" href="#" onclick="to_follow({{ user_obj.id }},'{% if request.user in user_obj.followers.all %}un{% endif %}follow')" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" style="margin-left: 10px">
                            <span class="glyphicon glyphicon-plus">
                            {% if request.user not in user_obj.followers.all %}
                                关注他
                            {% else %}
                                取消关注
                            {% endif %}
                            </span>
                        </a>
                        {% endwith %}

                    </div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>邮箱：</span></div>
    				<div class="col-md-8 text-left">{{user_obj.email}}</div>
    			</div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>性别：</span></div>
                    <div class="col-md-8 text-left">{{userprofile.sex}}</div>
                </div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>生日：</span></div>
    				<div class="col-md-8 text-left">{{userprofile.birth}}</div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>手机：</span></div>
    				<div class="col-md-8 text-left">{{userprofile.phone}}</div>
    			</div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>注册类型：</span></div>
                    <div class="col-md-8 text-left">{{userprofile.company_or_person}}</div>
                </div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>工作单位：</span></div>
    				<div class="col-md-8 text-left">{{userinfo.company}}</div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>社会统一信用代码：</span></div>
    				<div class="col-md-8 text-left">{{userinfo.SUC_code}}</div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>职业：</span></div>
    				<div class="col-md-8 text-left">{{userinfo.profession}}</div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>地址：</span></div>
    				<div class="col-md-8 text-left">{{userinfo.address}}</div>
    			</div>
    			<div class="row">
    				<div class="col-md-4 text-right"><span>个人介绍：</span></div>
    				<div class="col-md-8 text-left">{{userinfo.aboutme}}</div>
    			</div>
    		</div>
    		<div class="col-md-6">
                <div style="margin-right: 100px">
                    {% if userinfo.photo %}
                        <img src="{{userinfo.photo.url}}" class="img-circle" width="180px" id="my_photo">
                    {% else %}
                        <img src="{% static 'ImgCrop/images/avatar.png' %}" class="img-circle" width="180px" id="my_photo">
                    {% endif %}    
                </div>
               
            </div>
    	</div>
        
        <div class="row">
            <header class="htmleaf-header">
                {% if image_list %}
                <hr>
                    <h1><span>企业的风采、企业的文化</span></h1>
                {% endif %}
            </header>
            <div class="htmleaf-content bgcolor-3" style="margin-top: 40px;">
                <div id="gallery">
                    {% for image in image_list %}
                        <a href="{{image.image.url}}"><img src="{{image.image.url}}" alt="{{image.description}}" /></a>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src='{% static "js/jquery.js" %}'></script> -->
    <script type="text/javascript" src='{% static "js/layer.js" %}'></script>
    <!-- 调用相册展示插件的js文件 -->
    <script src="{% static 'js/enp_album/jquery-2.0.3.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/enp_album/jgallery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/enp_album/touchswipe.min.js' %}"></script>
    <!-- 调用相册展示插件的js文件 结束-->

    <!-- 显示图片展示插件 -->
    <script type="text/javascript">
        
        jQuery(document).ready(function($){
            $( '#gallery' ).jGallery(
            {
                // backgroundColor:'#fff',
                titleExpanded:true,
                //提示文字内容定义
                tooltipSlideshow:'幻灯片播放',
                tooltipFullScreen:'全屏显示',
                tooltipRandom:'随机显示',
                tooltipSeeAllPhotos:'查看所有图片',
                tooltipToggleThumbnails:'切换缩略图',
                tooltipZoom:'缩放',
                // thumbType:'square',
                //图片切换效果
                transition:'rotateCarouselLeftOut_rotateCarouselLeftIn',
                autostart:true
            }
            );
        });

    </script>
    <!-- 显示图片展示插件 结束-->

    <!-- 关注用的Ajax函数 -->
    <script type="text/javascript">
        function to_follow(id,action){
            $.ajax({
                url:"{% url 'account:user_follow' %}",
                type:"POST",
                data:{"id":id, "action":action},
                // alert(data);
                success:function(data){
                   if (data['status'] == 'ok') {
                     var previous_action = $('a.follow').data('action');
                     
                     // toggle data-action
                     $('a.follow').data('action',
                       previous_action == 'follow' ? 'unfollow' : 'follow');
                     // toggle link text
                     $('a.follow').text(
                       previous_action == 'follow' ? 'Unfollow' : 'Follow');
                       
                     // update total followers
                     var previous_followers = parseInt(
                       $('span.count .total').text());
                       $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);

                    if (action=='follow'){
                        layer.msg("已关注");
                        setTimeout("location.reload();",1000);
                    }else{
                        layer.msg("已取消关注");
                        setTimeout("location.reload();",1000);
                    }
                    
                  }
                }
            });
        }
        
    </script>
{% endblock content %}

