{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ImgCrop/css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ImgCrop/css/default.css' %}">
<link href="{% static 'ImgCrop/assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ImgCrop/dist/cropper.css' %}" rel="stylesheet">
<link href="{% static 'ImgCrop/css/main.css' %}" rel="stylesheet">
<form>{% csrf_token %}
	<div class="htmleaf-container">
		<!-- Content -->
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="img-container">
						<img id="image" src="{{userinfo.photo.url}}" alt="Picture">
					</div>
				</div>
				<div class="col-md-3">
					<!-- <h3 class="page-header">Preview:</h3> -->
					<div class="docs-preview clearfix">
						<div class="img-preview preview-lg"></div>
						<div class="img-preview preview-md"></div>
						<div class="img-preview preview-sm"></div>
						<div class="img-preview preview-xs"></div>
					</div>
					<label class="btn btn-primary btn-lg" for="inputImage" title="Upload image file">上传头像
						<input class="sr-only" id="inputImage" name="file" type="file" accept="image/*">
						<span class="docs-tooltip" data-toggle="tooltip" title="从本地上传头像">
							<!-- <span class="icon icon-upload"></span> -->
						</span>
					</label>
					<label class="btn btn-primary btn-lg" for="commitImage" title="Commit image file">提交头像
						<input class="sr-only" id="commitImage" name="file" type="button">
						<span class="docs-tooltip" data-toggle="tooltip" title="提交头像">
							<!-- <span class="icon icon-upload"></span> -->
						</span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 docs-buttons">
					<!-- <h3 class="page-header">Toolbar:</h3> -->
					<div class="btn-group">
						<button class="btn btn-primary" data-method="setDragMode" data-option="move" type="button" title="Move">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
							<span class="icon icon-move"></span>
						</span>
						</button>
						<button class="btn btn-primary" data-method="setDragMode" data-option="crop" type="button" title="Crop">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)">
							<span class="icon icon-crop"></span>
						</span>
						</button>
						<button class="btn btn-primary" data-method="zoom" data-option="0.1" type="button" title="Zoom In">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
							<span class="icon icon-zoom-in"></span>
						</span>
						</button>
						<button class="btn btn-primary" data-method="zoom" data-option="-0.1" type="button" title="Zoom Out">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
							<span class="icon icon-zoom-out"></span>
						</span>
						</button>
						<button class="btn btn-primary" data-method="rotate" data-option="-45" type="button" title="Rotate Left">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)">
							<span class="icon icon-rotate-left"></span>
						</span>
						</button>
						<button class="btn btn-primary" data-method="rotate" data-option="45" type="button" title="Rotate Right">
						<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)">
							<span class="icon icon-rotate-right"></span>
						</span>
						</button>
						
						<div class="col-md-6 docs-toggles">
							<!-- <h3 class="page-header">Toggles:</h3> -->
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-primary active" data-method="setAspectRatio" data-option="1.7777777777777777" title="Set Aspect Ratio">
									<input class="sr-only" id="aspestRatio1" name="aspestRatio" value="1.7777777777777777" type="radio">
									<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 16 / 9)">
										16:9
									</span>
								</label>
								<label class="btn btn-primary" data-method="setAspectRatio" data-option="1.3333333333333333" title="Set Aspect Ratio">
									<input class="sr-only" id="aspestRatio2" name="aspestRatio" value="1.3333333333333333" type="radio">
									<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 4 / 3)">
										4:3
									</span>
								</label>
								<label class="btn btn-primary" data-method="setAspectRatio" data-option="1" title="Set Aspect Ratio">
									<input class="sr-only" id="aspestRatio3" name="aspestRatio" value="1" type="radio">
									<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 1 / 1)">
										1:1
									</span>
								</label>
								<label class="btn btn-primary" data-method="setAspectRatio" data-option="0.6666666666666666" title="Set Aspect Ratio">
									<input class="sr-only" id="aspestRatio4" name="aspestRatio" value="0.6666666666666666" type="radio">
									<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 2 / 3)">
										2:3
									</span>
								</label>
								<label class="btn btn-primary" data-method="setAspectRatio" data-option="NaN" title="Set Aspect Ratio">
									<input class="sr-only" id="aspestRatio5" name="aspestRatio" value="NaN" type="radio">
									<span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, NaN)">
										Free
									</span>
								</label>
							</div>
						</div>
						
						<!-- Show the cropped image in modal -->
						<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button class="close" data-dismiss="modal" type="button" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
									</div>
									<div class="modal-body"></div>
									<!-- <div class="modal-footer">
										<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					</div><!-- /.docs-toggles -->
				</div>
			</div>
		</form>
		
		<script src="{% static 'ImgCrop/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'ImgCrop/assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'ImgCrop/dist/cropper.js' %}"></script>
		<script src="{% static 'ImgCrop/js/main.js' %}"></script>
		<script src="{% static 'js/csrf.js' %}"></script>
		<script src='{% static "js/layer.js" %}'></script>
		<script type="text/javascript">
			//上传头像图片
			$("#commitImage").on('click',function(){
				$("#image").cropper('getCroppedCanvas').toBlob(function (blob) {
				  var formData = new FormData();

				  formData.append('croppedImage', blob);
				  alert(blob);

				  $.ajax('{% url "account:my_image" %}', {
				    method: "POST",
				    data: formData,
				    processData: false,
				    contentType: false,
				    success: function (e) {
				      var status = e['status'];
						if(status == "1"){
							layer.close("{% url 'account:my_image' %}");
							window.location.reload();
						}else{
							layer.msg("图片格式不对，请更换图片！")
						}
					},
				  });
				});

				// var form_data = new FormData()
				// //获取图片文件
				// var file_info = $().cropper('getCroppedCanvas');
				// alert(file_info)
				// form_data.append('imgfile',file_info);
				// $.ajax({
				// 	url:'{% url "account:my_image" %}',
				// 	type:"POST",
				// 	data:form_data,
				// 	processData: false,  // 不处理数据
				// 	contentType: false, // 不设置类型
				// 	success:function(e){
				// 		var status = e['status'];
				// 		if(status == "1"){
				// 			layer.close(index);
				// 			window.location.reload();
				// 		}else{
				// 			layer.msg("图片格式不对，请更换图片！")
				// 		}
				// 	},
				// });
			});
		</script>