{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}
    话题管理
{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'editor/css/editormd.css' %}">
    <div style="margin-left: 10px">
    	<form class="form-horizontal" action="." method="post">{% csrf_token %}
    		<div class="row" style="margin-top: 10px;">
    			<div class="col-md-2 text-right"><span>标题：</span></div>
    			<div class="col-md-10 text-left">{{article_post_form.title}}</div>
    		</div>
    		<div class="row" style="margin-top: 10px">
    			<div class="col-md-2 text-right"><span>私有栏目名称：</span></div>
    			<div class="col-md-10 text-left">
    				<select id="which_column">
    					{% for column in article_columns %}
    						<option value="{{column.id}}">{{column.column}}</option>
    					{% endfor %}
    				</select>
    			</div>
    		</div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>问题标签：</span></div>
                <div class="col-md-10 text-left">
                    {% for tag in tag_list %}
                        <label class="checkbox-inline">
                            <input class="tagcheckbox" id="{{ tag.id }}" name="article_tag" type="checkbox" value="{{ tag.tag }}" />{{ tag.tag }}
                        </label>
                    {% empty %}
                    <p>你还没有任何标签,请 <a href="{% url 'article:article_tag' %}">添加标签</a></p>
                    {% endfor %}
                </div>
            </div>
    		<div class="row" style="margin-top: 10px">
    			<div class="col-md-2 text-right"><span>内容：</span></div>
    			<div id="editormd" class="col-md-10 text-left">
    				<textarea style="display: none;" id="id_body"></textarea>
    			</div>
    		</div>
    		<div class="row">
                <div class="col-md-2 text-right"><span></span></div>
    			<input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()">
    		</div>
    	</form>
    </div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
<script type="text/javascript">
	function publish_article(){
		var title = $("#id_title").val();
		var column_id = $("#which_column").val();
		var body = $("#id_body").val();
        var article_tags = [];
        $.each($("input[name='article_tag']:checked"), function(){article_tags.push($(this).val());});
		$.ajax({
			url:"{% url 'article:article_post' %}",
			type:"POST",
			data:{"title":title, "body":body, "column_id":column_id, "tags":JSON.stringify(article_tags)},
			success:function(e){
				if(e=="1"){
					layer.msg("成功发布话题");
					location.href = "{% url 'article:article_list' %}";
				}else if(e=="2"){
					layer.msg("对不起，话题发布失败！");
				}else{
					layer.msg("话题名称和话题标签不能为空！")
				}
			}
		});
	}

	//简单的 Markdown 编辑器
	$(function(){
		var editor = editormd("editormd", {
			// width  : "100%",
			// height : 640,
			// emoji:true,
			// imageUpload : true,
			// imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
			// imageUploadURL : "{% static 'editor_up_load/images' %}",
			// syncScrolling:"single",
			// path :"{% static 'editor/lib/' %}"
                width   : "80%",
                height  : 500,
                //syncScrolling : "single",
                path    : "{% static 'editor/lib/' %}",
                saveHTMLToTextarea : true,

                emoji: true,//emoji表情，默认关闭
                taskList: true,
                tocm: true, // Using [TOCM]
                tex: true,// 开启科学公式TeX语言支持，默认关闭

                flowChart: true,//开启流程图支持，默认关闭
                sequenceDiagram: true,//开启时序/序列图支持，默认关闭,

                dialogLockScreen : false,//设置弹出层对话框不锁屏，全局通用，默认为true
                dialogShowMask : false,//设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                dialogDraggable : false,//设置弹出层对话框不可拖动，全局通用，默认为true
                dialogMaskOpacity : 0.4, //设置透明遮罩层的透明度，全局通用，默认值为0.1
                dialogMaskBgColor : "#000",//设置透明遮罩层的背景颜色，全局通用，默认为#fff

                codeFold: true,

                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "{% url 'article:editor_image_upload' %}",

                /*上传图片成功后可以做一些自己的处理*/
                // onload: function () {
                //     //console.log('onload', this);
                //     //this.fullscreen();
                //     //this.unwatch();
                //     //this.watch().fullscreen();
                //     //this.width("100%");
                //     //this.height(480);
                //     //this.resize("100%", 640);
                // },

                /**设置主题颜色*/
                editorTheme: "pastel-on-dark",
                theme: "-midnight",
                previewTheme: "midnight"
             });
	});

</script>
{% endblock content %}