{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">导航</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav" role="navigation">
        <li><a class="navbar-brand" href="{% url 'mainsite:mainsite_title' %}">首页</a></li>
        <li><a class="navbar-brand" href="{% url 'article:article_list' %}">问答管理</a></li>
        <li><a class="navbar-brand" href="{% url 'imageload:list_images' %}">企业相册管理</a></li>
        <li><a class="navbar-brand" href="{% url 'course:manage_course' %}">视频新闻管理</a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <div class="navbar-form navbar-right">
        {% if user.is_authenticated %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }} {% if user.is_superuser %}超级管理员{% endif %}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% if user.is_superuser %}
               <li><a href="/admin">管理后台</a></li>
              {% endif %}
              <li><a href="{% url 'account:my_info' %}">信息中心</a></li>
              <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
              <li><a href="{% url 'account:password_reset' %}">忘记密码</a></li>
              <li><a href="{% url 'account:user_logout' %}">注销</a></li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'account:user_login' %}" class="btn btn-success" role="button">登录</a>
          <!-- <a href="{% url 'account:user_register' %}" class="btn btn-success" role="button">注册</a> -->
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
<!-- <script type="text/javascript" src="{% static '/js/bootstrap.js' %}"></script> -->

